<!doctype html>

<html>
<head>
<title>Snippets</title>
</head>

<body>
  <a href="/home"><p>Home</p></a>
    <div>
      <h2> {{ snippet.title }}</h2>
      <h3> {{ snippet.code }} </h3>
      <p> {{ snippet.language }} </p>
      <p> {{ snippet.tag }} </p>
      <p> {{ snippet.notes }} </p>
    </div>

</body>
</html>